<body class="goto-here">
	<!-- END nav -->

	<div class="hero-wrap hero-bread" style="background-image: url('assets/images/background_3.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					
				</div>
			</div>
		</div>
	</div>
  <div style="margin-right: 20px; align-self: center;" >
    <header class="bg-primary text-white " style="margin-top:-25px; margin-right: -20px;" >
	<section class="ftco-section bg-light">
    
		<div class="container">
			<div class="row">
				
				<div class="col-md-8 col-lg-10 order-md-last">
          <section id="ambiltes">
            <div class="text-center">
              <h1>Kenali Penyakit Pada Ikan Cupangmu</h1>
              <u style="color: black;">_______________________________________________________________________________________________________</u><br>
                
           
            <br>
            <a style="border-color: black;" class="btn btn-light "  role="button" href="index.php?bettaku=diagnosa">Mulai Diagnosa!</a>
      
            </div>
             </section>
          </header>
        </header>
      
      
          <section id="tentangmbti" >     
             <div class="row " style="margin-right: -20px;">
                <div class="col-lg-8 mx-auto" style="margin-right: -20px;">
              
                  <center><strong><h1>Diagnosa Ikan Cupang</h1></strong></center><br>
                  <p class="lead">Diagnosa yang dirancang untuk mengetahui penyakit yang dialami ikan cupang kesayangan anda.</p>
                  <p class="lead">
                  Tes ini dapat memberikan hasil atau pertimbangan sesuai apa yang di inputkan pemilik ikan cupang dan sistem pakar itu sendiri.
                  </p>
                  <p class="lead">
                  Dalam Tes  ini, ada 4 macam penyakit yang dialami ikan cupang: 
                  <ol class="lead">
                      <li>Mata Bengkak (Pop Eye)</li>
                  <li>Sirip Busuk (Fin Rot)</li>
                  <li>Bintik Putih (White Spot)</li>
                  <li>Sisik Nanas (Dropsy)</li>
                  </ol>
                  </p>            
                </div>
              </div>
          </section>
      
          
          </div>
          
          

				</div>

	</section>

</body>

